<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <filter>
        <filter-name>ConsultaLibrosFilter</filter-name>
        <filter-class>filter.ConsultaLibrosFilter</filter-class>
        <init-param>
            <param-name>Registro</param-name>
            <param-value>C:\\Registro.txt</param-value>
        </init-param>
        <init-param>
            <param-name>Consulta</param-name>
            <param-value>C:\\Consulta.txt</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>ConsultaLibrosFilter</filter-name>
        <servlet-name>ConsultaLibrosServlet</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>GestorBibliotecaServlet</servlet-name>
        <servlet-class>servlet.GestorBibliotecaServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ConsultaLibrosServlet</servlet-name>
        <servlet-class>servlet.ConsultaLibrosServlet</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>c:\\libros.txt</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestorBibliotecaServlet</servlet-name>
        <url-pattern>/GestorBibliotecaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaLibrosServlet</servlet-name>
        <url-pattern>/ConsultaLibrosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>pathcontext</param-name>
        <param-value>c:\\libros.txt</param-value>
    </context-param>
    
</web-app>
